<!--
  Generated template for the ResetPassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar color="primary">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
<ion-list>
  <ion-item>
    <ion-label floating>Email ID</ion-label>
    <ion-input name="EmailID" type="text" [(ngModel)]="EmailID"></ion-input>
  </ion-item>
</ion-list>
<div padding>
    <button ion-button color="primary" block (click)="SendOTP()"> Get OTP</button>

  </div>

  <div padding *ngIf="UserData !=null">
  <ion-list>
<ion-item  >
    <ion-label floating>OTP</ion-label>
    <ion-input name="OTP" type="number" [(ngModel)]="UserOTP"></ion-input>
  </ion-item>
</ion-list  >
  <div padding>
    <button ion-button color="primary" block (click)="validateOTP()"> Validate</button>
  </div>
   </div>

<div *ngIf="OTPValidated">
  <ion-list>
  <ion-item>
    <ion-label floating>New Password</ion-label>
    <ion-input name="NewPassword" type="password" [(ngModel)]="NewPassword"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Confirm Password</ion-label>
    <ion-input name="ConfirmPassword" type="password" [(ngModel)]="ConfirmPassword"></ion-input>
  </ion-item>

  <ion-item padding>
      <button ion-button color="primary" block (click)="resetPassword()">Submit</button>
  </ion-item>

</ion-list>
</div>
</ion-content>
